<div>
    <div class="uchart_setting_dialog uchart_setting_dialog_left">
        <div class="uchart_setting_title">基本属性</div>

        <div class="uchart_setting_attr">
            <div class="uchart_setting_attr_title">标题</div>
            <div><input class="uchart_setting_attr_text" id="chartTitle" value="{{chartTitle}}" placeholder="请输入标题" /></div>
        </div>
        <div class="uchart_setting_attr">
            <div class="uchart_setting_attr_title">边距</div>
            <div><input class="uchart_setting_attr_text" id="chartOffset" value="{{chartOffset}}" placeholder="请输入边距-数字,默认:0" /></div>
        </div>
        <div class="uchart_setting_attr">
            <div class="uchart_setting_attr_title">X轴</div>
            <div>
                {{chartConfigxAxis chartxAxisCheck}}
            </div>
        </div>
        <div class="uchart_setting_attr">
            <div class="uchart_setting_attr_title">Y轴</div>
            <div>
                {{chartConfigyAxis chartyAxisCheck}}
            </div>
        </div>

        <div class="uchart_setting_title">数据属性</div>

        <div class="uchart_setting_attr">
            <div class="uchart_setting_attr_title">所属CI</div>
            <div><input class="uchart_setting_attr_text" id="chartDatasourcehost" value="{{chartDatasourcehost}}" placeholder="请输入IP或主机名等CI的关键字" /></div>
        </div>
        <div class="uchart_setting_attr">
            <div class="uchart_setting_attr_title">选择KPI</div>
            <div>
                <select class="uchart_setting_attr_select" id="chartDatasourceKPI">
                    <option value="cpu">cpuc</option>
                    <option value="memory">memoryc</option>
                </select>
            </div>
        </div>
        <div class="uchart_setting_attr">
            <div class="uchart_setting_attr_title"></div>
            <div>{{chartDataTypeonTime chartonTimeCheck}}{{chartDataTypeHistory chartHistoryCheck}}</div>
        </div>
        <div class="uchart_setting_attr uchart_setting_attr_hidden" id="uchart_setting_attr_refresh">
            <div class="uchart_setting_attr_title">刷新间隔</div>
            <div><input class="uchart_setting_attr_text" id="chartrefresh" style="width: 100px;" value="{{chartRefreshInterval}}" placeholder="请输入刷新间隔-数字,0不刷新" />&nbsp;&nbsp;秒</div>
        </div>
        <div class="uchart_setting_attr uchart_setting_attr_hidden" id="uchart_setting_attr_daterange">
            <div class="uchart_setting_attr_title">时间范围</div>
            <div><input class="uchart_setting_attr_text" id="chartdaterange" /></div>
            <input type="hidden" id="chartstarttime" value="{{chartStarttime}}" />
            <input type="hidden" id="chartendtime" value="{{chartEndtime}}" />
        </div>
    </div>
    <div class="uchart_setting_dialog uchart_setting_dialog_right" id="chartpreview">
        <div>点击预览</div>
    </div>
</div>